/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.contact-list {

  & > li {
    display: inline-block;

    a {
      padding: 10px;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}