/**
 * Site header
 */
.site-header {
  background: $background-color;
  font-family: $header-font-family;
  min-height: $mobile-nav-height;
  width: 100%;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 18px;
  font-weight: 300;
  line-height: $mobile-nav-height;
  margin-bottom: 0;
  position: relative;

  &,
  &:visited,
  &:hover {
    color: $grey-color-dark;
    text-decoration: none;
  }

  .logo {
    height: 3em; 
  }

  @media (min-width: $on-laptop) {
    font-size: 26px;
  }
}

.site-nav {
  float: right;
  line-height: $laptop-nav-height;
  position: relative;
  z-index: 999;

  .menu-icon {
    display: none;
  }

  .page-link {
    line-height: $base-line-height;
    vertical-align: text-top;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media (max-width: $on-laptop) {
    background-color: $overlay-background;
    border: none;
    position: absolute;
    right: $spacing-unit / 2;
    text-align: right;
    top: 9px;

    .menu-icon {
      display: block;
      float: right;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      width: 36px;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }

      &:after {
        content: "";
      }
    }
  }
}