// Homepage styles
.home {

  .hero {
    margin-bottom: $spacing-unit;
    overflow: hidden;
    width: 100%;

    .text-wrapper {
      text-align: center;
    }

    @media (min-width: $on-palm) {
      background: $background-color url(/img/home-centaurs-desi-1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden;
      margin-bottom: $spacing-unit * 2;
      margin-top: -$spacing-unit;

      .text-wrapper {
        background: rgba($brand-color, .7);
        color: $brand-contrast;
        font-weight: lighter;
        letter-spacing: 1px;
        margin: ($spacing-unit * 6) ($spacing-unit * 2) ($spacing-unit * 2) 0;
        width: 50%;
        padding: $spacing-unit;
        text-align: center;
      }

      .text-area {
        border-top: 3px solid $brand-contrast;
        border-bottom: 3px solid $brand-contrast;
        margin: 0;
        padding: ($spacing-unit / 2) 0;
        position: relative;
      }

      .logo {
        height: 100px;
        position: relative;
      }
    }
  }
}