/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 36px;

  @media (min-width: $on-laptop) {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  .post-link {
    display: block;

    @media (min-width: $on-palm) {
      display: inline;
    }
  }
}

.post-meta {
  color: $grey-color;
}

.post-categories {
  color: $grey-color;

  ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    background: $grey-color-light;
    display: inline;
    padding: 5px;
  }
}
