/**
 * Grid
 */
.row {
  @include clearfix;
  margin-left: -($spacing-unit / 2);
  margin-right: -($spacing-unit / 2);
  margin-bottom: $spacing-unit;
  width: 100%;
}

.col-sm-8,
.col-sm-6,
.col-sm-4 {
  box-sizing: border-box;
  padding: 0 ($spacing-unit / 2);
  width: 100%;
}

@media (min-width: $on-palm) {
  .col-sm-8,
  .col-sm-6,
  .col-sm-4 {
    float: left;
    width: 50%;
  }

  .col-sm-8 {
    width: 66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-4 {
    width: 33%;
  }
}